# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/

# IDE/editor files
.vscode/
.idea/

# macOS and Windows system files
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
System Volume Information/

# Environment files
.env

# Logs and DB
*.log
*.sqlite3
